# Data

In [1]:
import pandas as pd

In [4]:
pos_df = pd.read_csv('x_positive_data.csv', header=None)

In [6]:
pos_df.columns = ['name', 'coord1_ra', 'coord2_dec', 'radius_pix']

In [7]:
pos_df.head()

               name  coord1_ra  coord2_dec  radius_pix
0  EON_1.081_-6.193   1.081240   -6.193389         161
1  EON_1.919_24.801   1.918513   24.801214         155
2   EON_2.203_4.456   2.202895    4.456114         139
3  EON_2.609_28.988   2.609454   28.988247         300
4   EON_3.421_5.978   3.420708    5.977557         189

In [8]:
pos_df.shape

(288, 4)

In [9]:
neg_df = pd.read_csv('x_negative_data.csv', header=None)

In [10]:
neg_df.columns = ['name', 'coord1_ra', 'coord2_dec', 'radius_pix']

In [11]:
neg_df.head()

               name  coord1_ra  coord2_dec  radius_pix
0   EON_0.183_7.090   0.182590    7.090147          96
1  EON_0.187_33.757   0.186788   33.756809          90
2  EON_0.190_14.075   0.189996   14.074663         116
3  EON_0.200_14.278   0.199556   14.277530         169
4  EON_0.212_-5.371   0.212280   -5.370842         101

In [12]:
neg_df.shape

(5133, 4)

# Legacy fits loading

You can check images on https://www.legacysurvey.org/viewer.

In [1]:
import numpy as np
import os
import urllib

In [2]:
def geturl_legacy(ra, dec, size=240, band='r', layer='dr8-resid'):
    
    assert band in ['g', 'r', 'z']
    assert layer in ['dr8', 'dr8-resid', 'dr8-model']

    url = ("http://legacysurvey.org/viewer/fits-cutout/?ra={}&dec={}&layer={}&pixscale=0.27&bands={}&size={}").format(ra, dec, layer, band, size)
    return url

In [9]:
def clear_on_fail_(name, dir_path):
    for band in ['g', 'r', 'z']:
        for layer in ['dr8', 'dr8-resid', 'dr8-model']:
            output_image='{}/{}_{}_{}.fits'.format(dir_path, name, layer, band)
            try:
                os.remove(output_image)
            except:
                pass

def load_legacy_all(name=None, ra=None, dec=None, size=None, save_to=None):
    if not os.path.isdir(save_to):
        os.mkdir(save_to)
    
    for band in ['g', 'r', 'z']:
        for layer in ['dr8', 'dr8-resid', 'dr8-model']:
            try:
                fitsurl = geturl_legacy(ra, dec, band=band, size=size, layer=layer)
                output_image='{}/{}_{}_{}.fits'.format(save_to, name, layer, band)
                urllib.request.urlretrieve(fitsurl, output_image)
                if os.path.getsize(output_image)/1024 < 3:  # empirical threshold
                    clear_on_fail_(name, save_to)
                    break;break
            except Exception as e:
                clear_on_fail_(name, save_to)
                raise e

Example:

In [7]:
%%time
load_legacy_all(name='NGC5614', ra=67.9944, dec=-5.3701, size=300, save_to='./tttmp')

CPU times: user 91.3 ms, sys: 45.3 ms, total: 137 ms
Wall time: 18.2 s

# Rotate and zoom in python

In [11]:
from scipy.ndimage import rotate

In [12]:
'''rot_data = rotate(array, angle=angle, reshape=False)'''

'rot_data = rotate(array, angle=angle, reshape=False)'

In [13]:
from scipy.ndimage import zoom

In [14]:
def zoom_all_data(data, target_size):
    """
    Function zoomes all the data to the given target size
    """
    initial_size = data.shape[0]
    scale = target_size / initial_size
    return zoom(input=data, zoom=scale)

# Galaxies to test on

Big list with coordinates - **work in progress**